<!DOCTYPE html>
<html>
<head>
	<title>Delete</title>
</head>
<body>
<h1>Delete Data</h1>
  <form method="post" action="/deletedata">
  	ID:<input type="id" name="id"><br><br>
  	<input type="submit" value="Delete" name="">
  </form>
</body>
</html>